{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
    [
      "@babel/preset-react",
      {
        "useBuiltIns": true,
        "useSpread": true,
        "runtime": "automatic",
        "importSource": "@emotion/react"
      }
    ]
  ],
  // Override preset-env for test because tests run on Node 
  // and Node needs commonJS imports
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "esmodules": false 
            }
          }
        ],
        [
          "@babel/preset-react",
          {
            "useBuiltIns": true,
            "useSpread": true,
            "runtime": "automatic",
            "importSource": "@emotion/react"
          }
        ],
        // For testing, we use babel's TS compiler instead of tsc
        // The alternative would be hacking ts-node into the flow which 
        // hasn't worked so far.
        "@babel/preset-typescript"
      ],
      "plugins": [
        "@emotion",
        [
          "module-name-mapper",
          {
            "moduleNameMapper": {
              "^src/(.*)": "<pkgDir>/src/$1"
            }
          }
        ]
      ]
    }
  },
  "plugins": ["@emotion", "@babel/plugin-transform-runtime"]
}