{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
    [
      "@babel/preset-react",
      {
        "useBuiltIns": true,
        "useSpread": true
      }
    ],
    "@emotion/babel-preset-css-prop"
  ],
  // Override preset-env for test because tests run on Node 
  // and Node needs commonJS imports
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "esmodules": false 
            }
          }
        ],
        [
          "@babel/preset-react",
          {
            "useBuiltIns": true,
            "useSpread": true
          }
        ],
        "@emotion/babel-preset-css-prop",
        // For testing, we use babel's TS compiler instead of tsc
        // The alternative would be hacking ts-node into the flow which 
        // hasn't worked so far.
        "@babel/preset-typescript"
      ]
    }
  },
  "plugins": ["@babel/plugin-transform-runtime"]
}