/* assistant-200 - latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 200;
  src: local(''),
       /* url('../fonts/assistant-v6-latin-200.woff2') format('woff2'), Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/assistant-v6-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* assistant-regular - latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       /* url('../fonts/assistant-v6-latin-regular.woff2') format('woff2'), Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/assistant-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* assistant-300 - latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       /* url('../fonts/assistant-v6-latin-300.woff2') format('woff2'), Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/assistant-v6-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* assistant-500 - latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       /* url('../fonts/assistant-v6-latin-500.woff2') format('woff2'), Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/assistant-v6-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
